.tabela-detalhes {
  margin-top: 50px;
  margin-left: 25%;
  width: 600px;
  font-family: absender;
  font-size: 15px;
  overflow-y: auto; width: 1125px; height:300px;
  position: relative;
}

.input-detalhes {
  margin-top: 80px;
  margin-left: 30%;
  width: 600px;
}

.formulario_produto {
  margin-left: 2%;
}

.btnAdd {
  border-radius: 100%;
}

.tr[ng-click] {
  cursor: pointer;
}

.search-detalhe {
  margin-left: 26%;
  position: absolute;
  width: 100px;
}

