.tabela-detalhes {
  // margin-top: 50px;
  margin-left: 30%;
  width: 600px;
  font-family: absender;
  font-size: 15px;
}

.input-detalhes {
  margin-top: 80px;
  margin-left: 30%;
  width: 600px;
}
