<div class="row">
  <div class="col-sm-4">
    <div class="md-form mt-0 input-detalhes">
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    <table class="table table-sm table-bordered table-striped tabela-detalhes">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome Produto</th>
          <th scope="col">Valor</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quantidade of quantidades; let i = index">
          <th scope="row">{{ quantidade.id }}</th>
          <td>{{ quantidade.product }}</td>
          <td>{{ quantidade.price }}</td>
          <td>{{ quantidade.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
