<div class="row">
  <div class="col-sm-4 tabela-detalhes">
    <div class="md-form mt-0 ">
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        aria-label="Search"
        #search
        (keyup.enter)="searchProdutoInEstoque(search.value)"
      />
    </div>
    <table
      class="table table-sm table-bordered table-striped table-hover"
      id="tabebaProdutos"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome Produto</th>
          <th scope="col">Valor</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of estoqueProdutos; let i = index">
          <th scope="row">{{ product.id }}</th>
          <td
            (click)="
              atualizarProdutoNoEstoque(product.id, atualizarOuAdicionarProduto)
            "
          >
            {{ product.product }}
          </td>
          <td>{{ product.price }}</td>
          <td>{{ product.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4 formulario_produto">
    <div class="row">
      <div class="col-sm-6">
        <button
          class="btn btn-primary mb-2"
          (click)="abrirFormAdicionarProduto()"
        >
          Adicionar Quantidade
        </button>
      </div>
    </div>

    <form *ngIf="formAdicionarProdutoDisplay" [formGroup]="produtoEstoqueForm">
      <div class="form-group">
        <label for="nome">Nome Produto</label>
        <select class="form-control" formControlName="nome" type="text">
          <option
            *ngFor="let produtoCadastrado of produtosCadastrados"
            value="{{ produtoCadastrado.name }}"
            >{{ produtoCadastrado.name }}</option
          >
        </select>

        <label for="data">Data</label>
        <input class="form-control" formControlName="data" type="date" />

        <!-- <label for="cpf">Valor</label>
        <input class="form-control" formControlName="valor" type="text" /> -->

        <label for="celular">Quantidade</label>
        <input class="form-control" formControlName="quantidade" type="text" />

        <label for="unidade">Unidade</label>
        <select class="form-control" formControlName="unidade" name="unidade">
          <option>UND</option>
          <option>SC</option>
          <option>KG</option>
        </select>

        <br />
        <button class="btn btn-primary mb-2" (click)="adicionarProduto()">
          Adicionar
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #atualizarOuAdicionarProduto>
  <div class="container">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <form [formGroup]="formAtualizarEstoque">
      <div class="form-group">
        <label for="nome">Nome Produto</label>
        <input
          class="form-control"
          formControlName="atualizarNome"
          type="text"
        />

        <!-- <label for="dt-nascimento">Data</label>
        <input
          class="form-control"
          formControlName="atualizarData"
          type="date"
        /> -->

        <!-- <label for="cpf">Valor</label>
        <input
          class="form-control"
          formControlName="atualizarValor"
          type="text"
        /> -->

        <label for="celular">Quantidade</label>
        <input
          class="form-control"
          formControlName="atualizarQuantidade"
          type="text"
        />

        <br />
        <button class="btn btn-primary mb-2" (click)="salvarNovosDados()">
          Atualizar
        </button>
      </div>
    </form>
  </div>
</ng-template>
