.tabela-detalhes {
  // margin-top: 50px;
  margin-left: 17%;
  width: 600px;
  font-family: absender;
  font-size: 15px;
}

.input-detalhes {
  margin-top: 80px;
  margin-left: 30%;
  width: 600px;
}

.formulario_produto {
  margin-left: 2%;
}

.btnAdd {
  border-radius: 100%;
}

.tr[ng-click] {
  cursor: pointer;
}
