<div class="container ">
  <div class="md-form mt-0 tabela-detalhes">
    <input
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
  </div>
  <div style="overflow-y: auto; width: 1125px; height:300px;">
    <div>
      <table
        class="table table-sm table-bordered table-striped  tabela-detalhes"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Nome Produto</th>
            <th scope="col">Cliente</th>
            <th scope="col">Unidade</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of sellProducts; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ product.date }}</td>
            <td>{{ product.products_storage }}</td>
            <td>{{ product.client }}</td>
            <td>{{ product.unit }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <button
      class="btn btn-primary btn-lg btn-block botao-fazer-vendas"
      (click)="openModal(formularioVendasModal)"
    >
      Fazer Vendas
    </button>
  </div>
</div>

<ng-template #formularioVendasModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Carrinho</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="carrinhoForm">
      <select class="form-control" formControlName="client">
        <option>Nome do cliente</option>
        <option *ngFor="let cliente of clients" [value]="cliente.id">{{
          cliente.name
        }}</option>
      </select>
      <br />
      <div>
        <select class="form-control" formControlName="products">
          <option>Nome do Produto</option>
          <option *ngFor="let product of products" value="{{ product.id }}">{{
            product.name
          }}</option>
        </select>
        <br />
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input
            class="form-control"
            type="text"
            placeholder="Quantidade"
            formControlName="amount"
          />
        </div>
        <div class="col-sm-4">
          <select
            class="form-control"
            formControlName="unit"
            selected="selected"
          >
            <option value="1" selected="selected">Unidade</option>
            <option>Kg</option>
            <option>g</option>
            <option>SC</option>
            <option>UND</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input
            class="form-control"
            type="text"
            placeholder="Valor"
            formControlName="price"
          />
        </div>
      </div>
      <br />
    </form>

    <button
      type="submit"
      class="btn btn-primary mb-2 botao-adicionar"
      (click)="adicionarProdutoCarrinho()"
    >
      Adicionar Produto no Carrinho
    </button>

    <div *ngIf="!dadosIsEmpty()" class="container ">
      <div>
        <table class="table table-sm table-bordered table-striped  ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Nome Produto</th>
              <th scope="col">Unidade</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of itemsCarrinho; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ items.client_display }}</td>
              <td>{{ items.product_display }}</td>
              <td>{{ items.unit }}</td>
              <td>{{ items.amount }}</td>
              <td>{{ items.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        type="submit"
        class="btn btn-primary mb-2 botao-adicionar"
        (click)="fecharPedido()"
      >
        Fechar Pedido
      </button>
    </div>
  </div>
</ng-template>
