.format-form-vendas {
  margin-left: 10%;
  width: 80%;
}
.botao-adicionar {
  width: 550px;
  margin-left: 14%;
}

.tabela-detalhes {
  // margin-left: 32%;
  width: 1125px;
  font-family: absender;
  font-size: 15px;
}

.botao-fazer-vendas {
  margin: 0.5%;
  width: 100%;
}

