<div class="container ">
  <div>
    <div class="md-form mt-0 tabela-detalhes">
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    <table class="table table-sm table-bordered table-striped  tabela-detalhes">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Data</th>
          <th scope="col">Nome Produto</th>
          <th scope="col">Cliente</th>
          <th scope="col">Unidade</th>
          <th scope="col">Valor</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of sellProducts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.date }}</td>
          <td>{{ product.products }}</td>
          <td>{{ product.client }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button
      class="btn btn-primary btn-lg btn-block botao-fazer-vendas"
      (click)="openModal(formularioVendasModal)"
    >
      Fazer Vendas
    </button>
  </div>
</div>

<ng-template #formularioVendasModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Carrinho</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <select class="form-control">
      <option>Nome do cliente</option>
      <option *ngFor="let cliente of clients">{{ cliente.name }}</option>
    </select>
    <br />
    <div>
      <select class="form-control">
        <option>Nome do Produto</option>
        <option *ngFor="let product of products">{{ product.name }}</option>
      </select>
      <br />
    </div>
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Unidade" />
      </div>
      <div class="col-sm-4">
        <input class="form-control" type="text" placeholder="Quantidade" />
      </div>
      <div class="col-sm-4">
        <input class="form-control" type="text" placeholder="Valor" />
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary mb-2 botao-adicionar">
      Adicionar Produto
    </button>

    <div class="container ">
      <div>
        
        <table class="table table-sm table-bordered table-striped  ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Data</th>
              <th scope="col">Nome Produto</th>
              <th scope="col">Cliente</th>
              <th scope="col">Unidade</th>
              <th scope="col">Valor</th>
              <th scope="col">Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of sellProducts; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ product.date }}</td>
              <td>{{ product.products }}</td>
              <td>{{ product.client }}</td>
              <td>{{ product.unit }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary mb-2 botao-adicionar">
          Adicionar Produto
        </button>
    </div>
  </div>
</ng-template>

<!-- <div class="row format-form-vendas"> 
    <div class="col-sm-6">
      <br />
      <select class="form-control">
        <option>Nome do cliente</option>
        <option *ngFor="let cliente of clients">{{ cliente.name }}</option>
      </select>
      <br />
      <div>
        <select class="form-control">
          <option>Nome do Produto</option>
          <option *ngFor="let product of products">{{ product.name }}</option>
        </select>
        <br />
      </div>
    </div>
    <div class="col-sm-2">
      <br />
     
      <input type="text" class="form-control" placeholder="Unidade" />
      <br />
      <button type="submit" class="btn btn-primary mb-2 botao-adicionar">
        Adicionar Produto
      </button>
    </div>
    <div class="col-sm-2">
      <br />
     
      <input class="form-control" type="text" placeholder="Quantidade" />
      <br />
    </div>
    <div class="col-sm-2">
      <br />
      
      <input class="form-control" type="text" placeholder="Valor" />
      <br />
    </div>
    <div class="col-sm-2"></div>
  </div>   -->
