<nav class="navbar navbar-expand-lg navbar-light tamanho-navbar">
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand picture">
      <img
        [src]="url"
        width="120"
        height="120"
        class="d-inline-block align-top posistion-logo"
      />
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/products">Cachorros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Gatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Passaros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Peixes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Medicamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Acessorios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Casa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Servicos</a>
      </li>
      <input type="text" class="input-search" />
      <button class="input-button">Pesquisar</button>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Carrinho</a>
      </li>
    </ul>
  </div>
</nav>


