.navbar-detalhes {
  font-family: absender;
  src: url("/assets/font/absender1.ttf");
  width: 100%;
  background-color: #f3efef;
  height: 100%;
}

.posistion-logo {
  // position: absolute;
  margin-left: 350px;
}

.tamanho-navbar {
  height: 130px;
}

.input-search{
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.input-button {
  border-radius: 5px;
  background-color: #fff47e;
}
