
<nav class="navbar navbar-expand-lg navbar-light navbar-detalhes">
  <div class="tamanho-navbar">
    <a class="navbar-brand picture">
      <img
        [src]="url"
        width="120"
        height="120"
        class="d-inline-block align-top posistion-logo"
      />
    </a>
  </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/products">Cachorros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Gatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Passaros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Peixes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Medicamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Acessorios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Casa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Servicos</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/produtos">Carrinho</a>
      </li>
      <img src="assets/icons/instagram-brands.svg" width=3% height=2%>
      <input type="text" class="input-search" />
      <button class="input-button">Pesquisar</button>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="login()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/vendas">Vendas</a>
      </li>
    </ul>
  
</nav>


