<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
<!--  <a>-->
<!--    <img-->
<!--      [src]="url"-->
<!--      width="120"-->
<!--      height="120"-->
<!--      class="d-inline-block align-top posistion-logo"-->
<!--    />-->
<!--  </a>-->
  <a href="/vendas">Vendas</a>
  <a href="/produtos">Produtos</a>
  <a href="#">Compras</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
</div>
