.navbar-detalhes {
  font-family: absender;
  src: url("/assets/font/absender1.ttf");
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #f3efef;
  width: 18rem;
  height: 5rem;
}

.tamanho-navbar {
  height: 8rem;
}

.input-search {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.input-button {
  border-radius: 5px;
  background-color: #fff47e;
}
