.navbar-detalhes {
  font-family: absender;
  src: url("/assets/font/absender1.ttf") format("truetype");
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #f3efef;
  height: 80px;
}

.tamanho-navbar {
  height: 130px;
}
