<div class="modal-header">
<h4 class="modal-title pull-left">Adicionar Quantidades</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalClose()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-2">
        <label>Codigo</label>
      <input
        class="form-control input-display"
        type="text"
        value="{{ productId }}"
      />
    </div>
    
    <div class="col-sm-6">
        <label>Descrição</label>
      <input
        class="form-control input-display"
        type="text"
        value="{{ productName }}"
      />
    </div>
    <div class="col-sm-2">
      <label>Quantidade/{{ productUnity }}</label>
        <input
          class="form-control input-display"
          type="text"
          [(ngModel)]="productQuantity"
          (ngModelChange)="valueChangeQuantity($event)"
          value="{{ productQuantity }}"
        />
      </div>

    <div class="col-sm-2">
        <label>Valor</label>
      <input
        class="form-control input-display"
        type="text"
        [(ngModel)]="productDisplayPrice"
        (ngModelChange)="valueChangePrice($event)"
        
      />
    </div>
  </div>
  <br>
  <button (click)="createOrderDetail()" class="btn btn-primary pull-right">Confirmar</button>
</div>
