.sidebar {
  position: relative;
  background-color: gray;
  width: 150px;
  height: 100%;
}

.sidebar-button-posistion {
}
.sidebar-button {
  width: 150px;
  border-radius: 0;
}

.box-buttons {
  margin-top: 70%;
}

.sidebar-logo {
  padding-top: 15%;
  padding-left: 15%;
}

body {
  background-color: gray;
}

footer {
  margin-top: 300px;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}
