<ng-sidebar-container style="height: 100vh">
  <ng-sidebar [mode]="_MODES[_modeNum]" [(opened)]="_opened">
    <div class="sidebar">
      <header>
        <div class="sidebar-logo">
          <img [src]="url" />
        </div>
      </header>
      <body>
        <div class="btn-group-vertical box-buttons">
          <button class="btn btn-primary btn-sm sidebar-button">
            Buy
          </button>
          <button class="btn btn-primary btn-sm sidebar-button">
            Vendas
          </button>
          <button class="btn btn-primary btn-sm sidebar-button">
            Produtos
          </button>
          <button class="btn btn-primary btn-sm sidebar-button">
            Contas
          </button>
        </div>
      </body>

      <footer>
        <ul>
          <li>Av Francisco Sá 2104</li>
          <li>Telefone (85) 9.86680656</li>
          <li>CNPJ: 12312313123</li>
        </ul>
      </footer>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <button (click)="_toggleSidebar()">Menu</button>
  </div>
</ng-sidebar-container>
