<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <div class="col-sm-6 ">
      <div class="box-stats">
        <label for="">Quantidade</label>
        <br />
        <label for="">Ultima venda</label>
        <br />
        <label for="">Ultimo cliente</label>
        <br />
        <label for="">Unidades vendidas</label>
        <br />
        <label for="">Representante</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="container">
      <form [formGroup]="productForm">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="">Nome</label>
              <br />
              <input class="form-control" type="text" />
              <br />
            </div>
            <div class="col-sm-3">
              <label for="">Valor</label>
              <br />
              <input class="form-control" type="text" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label for="">Data</label>
              <br />
              <input class="form-control" type="Date" />
            </div>
            <div class="col-sm-3">
              <label for="">Quantidade</label>
              <br />
              <input class="form-control" type="text" />
            </div>
            <div class="col-sm-3">
              <label for="">Categoria</label>
              <br />
              <select class="form-control" name="" id="">
                <option value="">1</option>
                <option value="">2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <label for="">Descrição</label>
              <br />
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
          </div>
          <br>
          <button class="btn btn-primary">Adicionar Produto</button>
        </div>
      </form>
    </div>
  </div>
</div>
