<div class="container">
  <accordion>
    <div class="row">
      <div class="col-sm-6">
        <accordion-group heading="Estatisticas">
          <ul>
            <li>Produtos mais vendidos</li>
            <li>Melhor cliente</li>
            <li>Pior produto</li>
          </ul>
        </accordion-group>
      </div>
      <div class="col-sm-6">
        <accordion-group heading="Contas a Vencer">
          <ul>
            <li>Contas a vencer do mes atual</li>
          </ul>
        </accordion-group>
      </div>
    </div>
  </accordion>
</div>
