.sidebar-resume {
  background-color:gainsboro;
  text-align: center;
}

.select-items {
  background-color:yellow;
}

.client-item-list {
  margin-top: 5%;
}

.btn-add-product {
  margin-top: 2%;
}

.product-forms {
  margin-top: 5%;
}

.client-item-list {
  height: 200%;
  background-color: darkkhaki;
}

.finish-button {
  width: 100%;
  height: 20%;
}