<div class="container-fluid">
  <div>
      <h1>Ponto de vendas</h1>
      <h3>Vendedor: vendedor teste</h3>
  </div>
  
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9 select-items">
      <div>
        <label for="">Produtos</label>
        <form [formGroup]='sellForm'>
            <select
            class="form-control"
            formControlName="product"
          >
            <option *ngFor="let product of products" value="{{ product.id }}">{{ product.name }}</option>
          </select>
        </form>
        
        <button class="btn-add-product" (click)="setDataItemSelectedInForm()">Adicionar Produto</button>
      </div>
      <div class="product-forms">
        <div class='row'>
          <div class='col-md-1'>
              <label for="">Código</label>
              <input class="form-control" value="{{ selectedProduct.id }}" type="text">
          </div>
          <div class='col-md-6'>
              <label for="">Nome Produto</label>
              <input class="form-control" value="{{ selectedProduct.name }}" type="text">
          </div>
          <div class='col-md-2'>
              <label for="">Quantidade/</label>
              <input class="form-control" value="{{ selectedProduct.quantity }}" type="text">
          </div>
          <div class='col-md-2'>
              <label for="">Valor</label>
              <input class="form-control" value="{{ selectedProduct.price }}" type="text">
          </div>
        </div>
        <br>
        <button (click)="getDataProduct()">Confirmar Produto</button>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sidebar-resume">
      <h2>Venda Atual</h2>
      <form [formGroup]="clientForm">
        <label for="">Cliente</label>
        <select
          class="form-control"
          formControlName="clientCode"
        >
          <option *ngFor="let client of clients" value="{{ client.id }}">{{ client.name }}</option>
        </select>
      </form>
      <div class="client-item-list">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of clientItems">Nome: {{ item.products['name'] }} Quantidade: {{ item.quantity }}</li>
          <br>
        </ul>
      </div>
      <button class="finish-button">Fechar Pedido</button>
    </div>
  </div>
</div>
