<div class="row">
  <div class="col-sm-6">
    Despesas
    <table class="table table-sm table-bordered table-striped tabela-contas">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descricao</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let despesa of despesas">
          <td>{{ despesa.payday }}</td>
          <td>{{ despesa.description }}</td>
          <td>{{ despesa.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    Compras e recompras de produtos
    <table class="table table-sm table-bordered table-striped tabela-contas">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descricao</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mp of materiasPrimas">
          <td>{{ mp.payday }}</td>
          <td>{{ mp.description }}</td>
          <td>{{ mp.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  Cadastro de contas
  <table class="table table-sm table-bordered table-striped tabela-contas">
    <thead>
      <tr>
        <th>Vencimento</th>
        <th>Descricao</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conta of contas">
        <td>{{ conta.payday }}</td>
        <td>{{ conta.description }}</td>
        <td>{{ conta.price }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container form-contas">
  <form [formGroup]="contaForm">
    <div class="form-row">
      <div class="col-4">
        <label for="">Descrição</label>
        <input
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="Descrição"
        />
      </div>
      <div class="col-2">
        <label for="">Vencimento</label>
        <input
          type="date"
          class="form-control"
          formControlName="payday"
          placeholder="Data"
        />
      </div>
      <div class="col-1">
        <label for="">Valor</label>
        <input
          type="text"
          class="form-control"
          formControlName="price"
          placeholder="Valor"
        />
      </div>
      <div class="col-3">
        <label for="">Categoria</label>
        <select class="form-control" formControlName="category">
          <option value="">Categoria</option>
          <option value="Despesas">Despesas</option>
          <option value="Materia Prima">Materia Prima</option>
          <option value="Extras">Extras</option>
        </select>
      </div>
      <div class="col-auto">
        <button
          class="btn btn-primary mb-4 btn-contas"
          (click)="adicionarConta()"
        >
          Adicionar
        </button>
      </div>
    </div>
  </form>
</div>
