<div class="row">
  <div class="col-sm-6">
    Despesas
    <table class="table table-sm table-bordered table-striped form-adicionar">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descricao</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    Compras e recompras de produtos
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descricao</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  Cadastro de contas
  <table class="table table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th>Data</th>
        <th>Descricao</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>
