<div>
  <div class="row">
    <div class="col-sm-6">
      <table
        class="table table-sm table-bordered table-striped table-hover tabela-cliente"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <th scope="row">{{ cliente.id }}</th>
            <td>{{ cliente.name }}</td>
            <td>{{ cliente.phone }}</td>
            <td>{{ cliente.addres }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <div class="form-group col-md-6 form-cliente">
        <form [formGroup]="clienteForm">
          <label for="">Nome Cliente</label>
          <input class="form-control" formControlName="name" type="text" />
          <label for="">Telefone</label>
          <input class="form-control" formControlName="phone" type="text" />
          <label for="">Endereço</label>
          <input class="form-control" formControlName="addres" type="text" />
        </form>

        <br />
        <button class="btn btn-primary mb-2" (click)="adicionarCliente()">
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div>
